.container{

}
body{
  margin:0;
  padding:0;
  background-color: rgb(242, 232, 219);
}
.headline{
  text-align: center;
  margin-top: 5%;
}
.category{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.card{
  color:white;
  margin-right:20px;
  text-align: center;
  width: 20%;
  height: 20%;
  padding: 10px;
}
.card:hover{
  transform: scale(1.1);
  z-index: 1;
}
#recovered{
  background-color: green;
  padding: 10px;
}
 #deaths{
  background-color: red;
  padding: 10px;
}
#active{
  background-color: blue;
  padding: 10px;
}
#confirmed{
  padding: 10px;
  background-color: orangered;
}
#date{
  background-color: rgb(220, 220, 31);
  padding: 10px;
}
#country{
  padding: 10px;
  background-color: rgb(242, 156, 8);
}
P{
  font-size: 10px;
}
span{
  font-size: 24px;
}